# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg

# Virtual environment
venv/
env/

# History file
packet_inspector_history.json

# IDE settings
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db